@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
  background-color: #222;
  color: white;
}
body {
  padding: 20px;
}

header {
  text-align: center;
}
header h1 {
  margin: 50px;
  line-height: 2;
}
header p {
  line-height: 2;
  margin: 40px;
}
header div {
  background-color: white;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  /* color: #222; */
  /* padding: 20px; */
  font-size: 60px;
  border-radius: 100%;
  /* text-align: center; */
}
header div p {
  color: #222;
  background-color: white;
  border-radius: 100%;
}
main {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}

main .left .guess {
  padding: 40px;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 30px 0px 40px 0px;
}

main .left .btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 40px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 30px 0px 30px 0px;
}
main .left .btn:hover {
  background-color: #ccc;
}
main .right .message {
  font-size: 20px;
  margin: 30px 0px 40px 0px;
}
main .right .label-score {
  margin: 30px 0px 30px 0px;
  font-size: 20px;
}
main .right .label-highscore {
  margin: 30px 0px 30px 0px;
  font-size: 20px;
}

@media (min-width: 1024px) {
  header h1 {
    font-size: 3.5rem;
    margin: 80px;
  }
  header p {
    margin: 60px;
  }
  header div {
    font-size: 80px;
    margin-bottom: 50px;
  }
  header div p {
    font-size: 50px;
  }
  main {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  main .left {
    flex: 1;
    margin-right: 20px;
    text-align: center;
  }
  main .left .guess {
    padding: 30px;
    font-size: 30px;
  }
  main .left .btn {
    font-size: 30px;
    padding: 15px;
    margin: 20px 0;
  }
  main .right {
    flex: 1;
    text-align: center;
  }
  main .right .message {
    font-size: 24px;
    margin: 20px 0;
  }
  main .right .label-score,
  main .right .label-highscore {
    font-size: 24px;
    margin: 50px 0;
  }
}
